<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 0;
    }

    .topo {
      font-size: 60px;
      color: #F94D6A;
      background-color: #000000d8;
      padding: 15px;
      margin-bottom: 30px;
      text-align: center;
      width: 100%;
    }

    .content {
      width: 100%;
      margin: 0 25%;
      word-wrap: break-word;
    }

    .red {
      color: #F94D6A;
    }

    @media (max-width: 768px) {
      .content {
        margin: 0 35px;
      }
    }

    @media (max-width: 480px) {
      .content {
        margin: 0;
        margin-left: 5px;
      }
    }
  </style>
</head>

<body>
  <div class="topo">Zero Glosa Avisa</div>
  <div class="content">
    <strong>Olá <span class="red">, houve um erro no arquivo: {{ name  }}</span></strong>
  </div>
</body>

</html>